<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>qtInsult API</title>
        <style>
</style>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/markdown.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">
<style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
                font-size: 14px;
                line-height: 1.6;
            }
        </style>
        <style>
.task-list-item { list-style-type: none; } .task-list-item-checkbox { margin-left: -20px; vertical-align: middle; }
</style>
        
        
        
    </head>
    <body class="vscode-body vscode-light">
        <h1 id="qtinsult-api">qtInsult API</h1>
<h2 id="introduction">Introduction</h2>
<h4 id="qtinsult-is-an-api-that-gives-you-random-insults-curated-by-yours-truly">qtInsult is an API that gives you random insults curated by yours truly.</h4>
<h4 id="api-path--httpsqtinsultherokuappcomrandominsult">API Path:  <a href="https://qtinsult.herokuapp.com/randominsult">https://qtinsult.herokuapp.com/randominsult</a></h4>
<h2 id="json-format">JSON Format</h2>
<h4 id="the-json-returned-will-be-formatted-as-such">The JSON returned will be formatted as such:</h4>
<pre><code>{
    &quot;insult&quot; : &quot;Here is the insult!&quot; 
}
</code></pre>

    </body>
    </html>